In [39]:
import pandas as pd
import numpy as np
import re

In [40]:
data_path = '/data/ephemeral/home/data/train.csv'
df = pd.read_csv(data_path)

In [41]:
def classificate_by_label(df):
    labels = df['target'].unique() 
    labels = np.sort(labels)

    label_dfs = {label: df[df['target'] == label] for label in labels}

    for label, data in label_dfs.items():
        print(f"Target {label}: {len(data)} rows")
     
    return label_dfs
        
label_dfs = classificate_by_label(df)

Target 0: 397 rows
Target 1: 410 rows
Target 2: 388 rows
Target 3: 385 rows
Target 4: 406 rows
Target 5: 419 rows
Target 6: 395 rows

In [42]:
def get_length_excluding_spaces(text):
    # 공백을 제외한 문자열의 길이 계산
    length_excluding_spaces = len(text.replace(" ", ""))
    return length_excluding_spaces

df['text_length'] = df['text'].apply(get_length_excluding_spaces)

In [43]:
# 특수문자 비율 계산 함수
def calculate_special_char_ratio(row):
    text = row['text']
    total_length = row['text_length']
    if total_length == 0:
        return 0
    special_chars = re.findall(r'[^\w\s]', text)
    return len(special_chars) / total_length

# 영어 문자 비율 계산 함수
def calculate_english_char_ratio(row):
    text = row['text']
    total_length = row['text_length']
    if total_length == 0:
        return 0
    english_chars = re.findall(r'[A-Za-z]', text)
    return len(english_chars) / total_length

# 숫자 비율 계산 함수
def calculate_number_ratio(row):
    text = row['text']
    total_length = row['text_length']
    if total_length == 0:
        return 0
    numbers = re.findall(r'[0-9]', text)
    return len(numbers) / total_length

# 각각의 열에 함수 적용
df['special_char_ratio'] = df.apply(calculate_special_char_ratio, axis=1)
df['english_char_ratio'] = df.apply(calculate_english_char_ratio, axis=1)
df['number_ratio'] = df.apply(calculate_number_ratio, axis=1)

print(df)

                       ID                               text  target  \
0     ynat-v1_train_00000   정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보       4
1     ynat-v1_train_00001        K찰.국DLwo 로L3한N% 회장 2 T0&}송=       3
2     ynat-v1_train_00002             m 김정) 자주통일 새,?r열1나가야1보       2
3     ynat-v1_train_00003      갤노트8 주말 27만대 개통…시장은 불법 보조금 얼룩       5
4     ynat-v1_train_00004       pI美대선I앞두고 R2fr단 발] $비해 감시 강화       6
...                   ...                                ...     ...
2795  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수매겨…10점만점에 12점도       6
2796  ynat-v1_train_02796        삼성 갤럭시S9 정식 출시 첫 주말 이통시장 잠잠       2
2797  ynat-v1_train_02797   텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보       4
2798  ynat-v1_train_02798    인터뷰 류현진 친구에게 안타 맞는 것 싫어해…승부는 냉정       1
2799  ynat-v1_train_02799               지능정보사회 대비 국가 종합대책 마련       4

      text_length  special_char_ratio  english_char_ratio  number_ratio
0              25            0.120000            0.280000      0.120000
1              23            0.217391            0.347826      0.130435
2              19            0.157895            0.105263      0.105263
3              23            0.043478            0.000000      0.130435
4              23            0.086957            0.260870      0.043478
...           ...                 ...                 ...           ...
2795           28            0.035714            0.000000      0.142857
2796           20            0.000000            0.050000      0.050000
2797           30            0.100000            0.233333      0.133333
2798           24            0.041667            0.000000      0.000000
2799           16            0.000000            0.000000      0.000000

[2800 rows x 7 columns]

In [44]:
df['text'] = df['text'].str.replace('…', ' ', regex=False)

In [45]:
text_value = df[df['ID'] == 'ynat-v1_train_02798']['text'].iloc[0]

# 각 문자와 유니코드 값을 출력
print([(char, ord(char)) for char in text_value])

[('인', 51064), ('터', 53552), ('뷰', 48624), (' ', 32), ('류', 47448), ('현', 54788), ('진', 51652), (' ', 32), ('친', 52828), ('구', 44396), ('에', 50640), ('게', 44172), (' ', 32), ('안', 50504), ('타', 53440), (' ', 32), ('맞', 47582), ('는', 45716), (' ', 32), ('것', 44163), (' ', 32), ('싫', 49899), ('어', 50612), ('해', 54644), (' ', 32), ('승', 49849), ('부', 48512), ('는', 45716), (' ', 32), ('냉', 45257), ('정', 51221)]

In [46]:
## 현재 문장에서 ascii의 비율과, ascii의 비율 중 영어와 대문자가 있는 경우에 대한 확인.
def calculate_ascii(text):
    # 공백을 제외한 ASCII 문자들
    ascii_chars = [char for char in text if ord(char) < 128 and not char.isspace()]
    ascii_count = len(ascii_chars)
    ascii_ratio = ascii_count / len(text)

    # ASCII 문자들이 영어에 대한 
    english_chars = [char for char in ascii_chars if char.isalpha()]
    has_english = len(english_chars) > 0
    # 영어 관련 체크 영어 관련 내용이 있을경우
    is_english_only = all(char.isalpha() for char in ascii_chars) if has_english else False
    # 대문자 관련 계산 (영어가 하나라도 있을 때만 체크)
    is_all_uppercase = all(char.isupper() for char in english_chars) if has_english else False
    uppercase_count = sum(1 for char in ascii_chars if char.isupper())
    uppercase_ratio = uppercase_count / len(ascii_chars) if ascii_chars else 0
    
    return ascii_count, is_english_only, is_all_uppercase, ascii_ratio, uppercase_ratio

In [47]:

df['text'] = df['text'].str.replace('...', ' ').str.replace('…', ' ')
df['length'] = df['text'].map(len)
df['ascii_count'], df['is_english_ascii'], df['is_all_uppercase'], df['ascii_ratio'], df['uppercase_ratio'] = zip(*df['text'].apply(calculate_ascii))

# 결과 확인
print("ASCII 분석 결과:")
df[['text', 'ascii_count', 'is_english_ascii', 'is_all_uppercase', 'ascii_ratio', 'uppercase_ratio']].head()

ASCII 분석 결과:

,text,ascii_count,is_english_ascii,is_all_uppercase,ascii_ratio,uppercase_ratio
0,정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보,13,False,False,0.406250,0.307692
1,K찰.국DLwo 로L3한N% 회장 2 T0&}송=,16,False,False,0.592593,0.375000
2,"m 김정) 자주통일 새,?r열1나가야1보",7,False,False,0.318182,0.000000
3,갤노트8 주말 27만대 개통 시장은 불법 보조금 얼룩,3,False,False,0.103448,0.000000
4,pI美대선I앞두고 R2fr단 발] $비해 감시 강화,9,False,False,0.321429,0.333333

In [ ]:
df['english_count'] = df['text'].str.findall(r'[A-Za-z]+').str.len()

r가d나d다 3
r가dd다 2
rdd다 1

In [ ]:
cond1 = df['ascii_ratio'] >= 0.2
cond2 = df['uppercase_ratio'] > 0.8
sep_eng_count_cond = df['english_count'] < 4

cond2_and_sep_eng_count = df[cond2 & sep_eng_count_cond]

overlapping_indices = cond2_and_sep_eng_count.index

filtered_df = df[cond1 & ~df.index.isin(overlapping_indices)]

In [38]:
len(filtered_df)

1619

In [21]:
count_summary = df['english_count'].value_counts().sort_index()

print(count_summary)

english_count
0     923
1     254
2     218
3     294
4     312
5     326
6     247
7     129
8      66
9      19
10      8
11      3
12      1
Name: count, dtype: int64

In [22]:
filtered_df = df[df['english_count'] >= 4][['ID', 'text', 'target']].copy

In [24]:
filtered_df

<bound method NDFrame.copy of                        ID                              text  target
0     ynat-v1_train_00000  정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보       4
1     ynat-v1_train_00001       K찰.국DLwo 로L3한N% 회장 2 T0&}송=       3
4     ynat-v1_train_00004      pI美대선I앞두고 R2fr단 발] $비해 감시 강화       6
10    ynat-v1_train_00010       oi 매력 R모h츠a열#w3약 >l·주가 고Q/진       5
21    ynat-v1_train_00021      KIA I수단·팬nI께하는:호kQ4M족 한마5 S최       1
...                   ...                               ...     ...
2784  ynat-v1_train_02784   고려·vq 5|째 결승 격돌la~일,%3대o농구 챔피Tw       1
2786  ynat-v1_train_02786         텅 빈 }실 선생님+홀K Y|q% T+X C1       3
2787  ynat-v1_train_02787   13이 노바 라이n2·미J어패0 T3 10 결G상품% *       6
2792  ynat-v1_train_02792       높`X#E율 }BO Q"[/선수 몸값 상승 CAO       1
2797  ynat-v1_train_02797  텔레그램+한D 등h亞서 2시간H다운 C버T정gf39종!2보       4

[1111 rows x 3 columns]>

In [18]:
filtered_high_ascii = high_ascii[high_ascii['english_count'] >= 4][['ID', 'text', 'target']].copy

In [19]:
filtered_high_ascii

<bound method NDFrame.copy of                        ID                                     text  target
561   ynat-v1_train_00561                물로 덮인 U터월드S행성에도 G0체H존PEF능       4
710   ynat-v1_train_00710            문X통& 빠E O전선언 바람직J다는 P 대V로 공감대       2
1776  ynat-v1_train_01776  LGU 5G SA 상용화 준비 SA 기술 NSA 코어 장비에 연동 검증       5
1892  ynat-v1_train_01892                    LCJLR국FjU권A어^이 백S  시상       0
2704  ynat-v1_train_02704               L자Mk 삼성생D OK저축은P에 완승 연패 탈출       1>

In [66]:
label_dfs = classificate_by_label(high_ascii)

Target 0: 225 rows
Target 1: 232 rows
Target 2: 229 rows
Target 3: 232 rows
Target 4: 232 rows
Target 5: 232 rows
Target 6: 226 rows

In [24]:
num = 6
label_dfs[num]['text']

total_rows = len(label_dfs[num])
chunk_size = 20

for i in range(0, total_rows, chunk_size):
    chunk = label_dfs[num].iloc[i:i + chunk_size]
    print(f"\n=== {i+1}~{min(i+chunk_size, total_rows)}번째 데이터 ===")
    print(chunk[['text']])
    
    # 다음 20개를 보려면 엔터를 누르세요
    input("\n다음 20개를 보려면 Enter를 누르세요...")

=== 1~20번째 데이터 ===
                                   text
4          pI美대선I앞두고 R2fr단 발] $비해 감시 강화
50   美MBA[여성 비율x계속 x가4주$E19a대 U입생 중Ym,%
58      한#M2 !는 유`8 치료제 오B솔 美 임{ 3a 본격화
59       아사w 트K프 외교S험k없다고 i5오바I도]KR<8였-
67       x콩-P면금[T 나%\ g트=물J1h나고 지>철 %기고
86     ~리비{3Qn'9 신분 변:+허용 의료u서로 사전w입p해야
107           프랑스 마N}의 이I 대\- G7 ;청설 c인
134       코오롱플라스틱 1분기 연결 영업익 58억원 138%↑
159               中[정u 지방W민0투Ad실태K6L}착5
172           美 미네소타r州H람M장 입구H 2격d 명 부상
174    \페이오k중동서".]Vx국fr동]Cr구 이란B고. 강L종Q
187  반기문m유p{e 관저에>리2창 부부 초대 만찬 2년전|약속지켜
198      버닝썬 게이트 다룬 SBS 그것이 알고 싶다 11.2％
206       이kDr|크>G리아 친이T0시설 >격 u]라J에 경/
216            k@ w고지;~ 반정,시/에 美X사주한 1)
237          출마금cyj슈9웡 홍'!.t(!%원하면 투표해t
243            ~:자베스 여,+정치권에fS4/트 타협 촉구
244       UAG|'전 =기-맞먹c 사K E양)i;전소 /lco
246        印공? 파키스탄 내 w$ P@ +o ,등 K고조종합
299    푸4 살만i사우디"Q왕과eo= ^유시< >조 지속 합의종합

=== 21~40번째 데이터 ===
                                  text
303       아랍권 반D란"정상회의 5춰 (\s& 이란 맹9종합
317       탈북 도와t;한국계f영b7#-왕s 국가공:훈장 o아
341  융커,|u장 8국Rj질서w는Y-U&탈& P우 낙관C지는 않아
347       |T디Kk차a전 발발 당일*유대인에 평N'원 손편지
348    - 2카9i배당 문 다시 1gR 라MV T.dA테5 B포
358             (란@P럽 @Ra 2돌리면dZ대jU맞대응
379  이1서 h국 강조~%민=C 캐}다서^P정T_U의혹 3[ 비판
392         조u사 없는 에어On# a^트리아/Ib 시범f행
394         8Ih쿠르>군0 시리R rmn순찰 bN|뒤 qa
443    E란(:정we시Y 배후 M력 대규모 ,거 작전 안정 회/
454         .들Rq;는 Z"2아우토반 (도Bx에 Phx까#
482      노벨상 수#eeP말하6]노+화Z회 ( 다sp)$ 개막
483             t7정상회의 균? 심각L한 목소리 &낸다
490     뉴D랜드 대학YFd"시위k지U 학=과(中본토Z학k$sH
521      (리 B히는 D?日 b일부터 G이-서 고위S 경제t화
526      오"마@사드는ej수p 방V "제 ^위협[대s(.한 것
532      n/아베@총리@만난 D국6O- 국v(칙 위협L주장D합
537    유엔 w.아4공습으로 1[일간 민간인 100명 이상 yZ
538     이란 反이란JHD보수G싱C탱크vF8a 제재 대상에 올>
546       사o_ 석유V4Dl가}q`성  0∼8w달러>W좁k야

=== 41~60번째 데이터 ===
                                   text
548        中 국방$`) 사드 m 언급 T역{Ob 심S@ F_
550        .조선 피격@ r드론 k추 끓어오7_ 호0무즈 r협
563      @_르담 붕괴 위VL:전 佛당국 %kn^\급,보강Q작]
579   英의 \렉시Q 혼N에 C z?獨(佛 *y한 입장 제Q해"[합
580       푸틴Y시민5회j] 반="@ W테러?법b "Y지에 서명
591   시진pN낙N지>서S민생행보IT0a05까지"t}만: 빈o&해소
595         아프리카 남수a서 부04간 폭g사태로 11명L사망
597    w`이란 핵합의k명운[건 막판 y꽃 G촉 美d용, (건$합
601                美 매d g츠버그 강정호와 y별p T
618   기자m해병대Z·목사 이란 J| 수n 만에 자Q7y은 미국D들
626     이란 반정(9위서 7행&관{서 771j X; 주모자 h#
639  中o선제적(입막음 2S·IBM|* 사이46안8 논의에 끌어들여
655     백nm월R}w체sKKK 집회*8폭_사i#3L 흉9~  .
665     &v"g 33교전FMo 클린K 목Y리 크6 행동은 안H;
670     ~BJ반o&사우Y 공격 Kt 사$디 >응Gt다려 제안종합
682    t란 최고지+자 예멘Z군d지지 표"b사우디·KpE는 범죄자
685      25남2 ]#g)광객nG/버C N럭과 충돌 01명 3상
722      홍@c 과격시T72제보N 3고 1억5천만f 현9금W걸@
741        게시판 SKT AI 콘퍼런스 ai.x 2019 개최
759      佛M해외령Z기아나 노조n표단 \'기} 무k한]점0 농성

=== 61~80번째 데이터 ===
                                   text
761      美이란%제재h제J직전[-감m S교환 u;자Fm함F합k보
783       아E존 [Cc:k z>전 북미by0y qK M애 치열
791         W'美블:컨u북W 비IMP4^마 패거리?참견 /라
796        S리랑카 말라리아 b정국 _$_H9d가c3 발r0o
807           정의장 인C·카A흐스탄 &\m(N 대통N(-담
808     shl 러 미사일N도t에 뿔= 4국 F3&f부품\도O중단
809         &r A농축 >라늄 저장한4 U+ 핵yg3 발 :
823     u베 일본 Bx8해 마리오처럼 싸우겠다 D]C 투자 호소
827      이탈E아 방Of앞' 시+핑 일대일로로 양국관계 새 시|
828      i$1아 외무 내전["화 8비아 방문KO사적 해법 안돼
830          매'Q>본의 8국/경Ql복<B판G日%a에도Bc해
842             프랑스이란L/란 탄9미사일V#발 놓S 9V
846        슬Y.P| $9아it -경에 난민 }단 군cX 배치
848       러시아 ~프리, 석유·다{X몬드·l전건설로 P 돌nQ
856        eUF구르'탄압e항의 h키 u위에 나쁜 세력의#8동
871   中 관영3u "-시위O지지 )란속 NaA 개막전 중u 안 해
894  伊-대통Q6+ 연정 승인 콘테dz 총n에 `정1구성V권G 부여
916              9루 아&키}~m시 건d6+77..X축h
949         푸zY사우디·이0 모두와 가Jk 관계 중동N 역할
950    ^u} 부`p+러닝#4트T~%l8인 상,M원 공식yg표x보

=== 81~100번째 데이터 ===
                                      text
958           러시!p[7A 정식 제안 온k면7푸틴+a프_만날4것
961              이Ll "기오2^O :[&Q1만4천명W병[치료
983        @U·i 9일 정상회의 북핵·무역·투자z경=협력 등 f의
997        동아시아" y러리P1모태 와하비즘u확산 제s의~(N KL
998            "타&후의.5J^9지c 이{라엘 야권연대9성사SD
1008        미국·7R;·멕시g 2hoU년m\o컵X공"=W8<청#듯
1015            우파r우 a권 오스트리아g|u3재uu&*표 R5
1016  오바%f4폭1;마#사X6210f 대규1A감R 누적  b자m562b
1036             zF북,~1도{스웨wq 비yNx-_h표와W회P
1055         中9Nv체 RB Aj 집중포5z우리는o끝까지w$i a
1095           일본  출6이u아 15일 n국 22일 고베 입단식
1099        오바마 "-연설y법 에 h한8 격9단Sg위VfB행n당7
1104                 프랑스 이란에 핵OW 의무 %0L삼가라
1108          K란 전국 3S째 T _S]y2명e사망/'qY대피!
1115       u국\신 E}조직p KGC꺼리"w佛 이라크v<=형E 반c
1117        무례 외:%고노 日e무* 교체ew부상4아베 11Ui.p
1141     反세계화 막아야하>R 국H i만 ?B나 고y하는/G2~정<들
1150              i글[Z"P전 독재자J에y샤드H노g>b 별세
1163        v스라5 K기총@ 결&}초읽기 네$J후ZB치Q> O#속
1179                중국 앱o개c자들 애플 갑질V r- 폭발

=== 101~120번째 데이터 ===
                                     text
1187                   HDC 부동산114 자회사로 편입
1189       대만계 美7통장]이A父b운회[ p불렸나Z+N\ 조사L수
1243         .t크 바그다드0인o 시:에서 d' IS C후,자처
1253        FLB6(퍼t끝없는?부f 필a델)c와p허니문 ;난]1
1257        美y@트코;5사흘0K 또%C격d용1m"사망}K명N부상
1260  \란드 총~*사E&l$6년 n에 제1k 집v*중도당 참패+합3V
1266         g제;vW 이슬람 #장Lp V격v W인Bh1M w망
1271       밀라노!d지오rd4 광장k`시a j/|I노Q8o옥외광고
1277        DAEA사우디 이어7. "르Gm 호, 연+FJ참여1로
1294      시CA#무+통일 불사\`g풍 대만7 80V 일국양제u1대
1295         인니M中에 10W조 원W 일대>로(사업 무더기X1안
1304   이란L우라늄 n|에 '성능 y심분리기 가동 x합의 이행N소종합
1318             8 中해경) u박r4척w센XM d본~vo!5
1346                o국 초등학교 3부% 투Y 교육 시킨-
1352          中 위안화 절)행u 고시 R]값l25개월만I 최고
1360       홍n~거리청소 나선&부c T국 내 최m8대테6 np부대
1361             } eY4상 i란d외bA2`새~`Y k 바퀴
1376         이스라엘*+레스타인v!v지구 공Y 로L5발사J 대t
1380             '렉1트 x1영{유T 중)>행7재 I동 무C
1383        H@마 대통령uir6후m워싱턴_(ymy무( 개k_z정

=== 121~140번째 데이터 ===
                                   text
1384  z}北(CBM용 0켓엔진시험에 추가도발 용_못< 도발 삼가라
1406            美@& 프RL 외상 흔7 없[ 자F 아RI
1423     러시아 美 Ul벌 ?D w中*겨g한 것 전' R위 노려
1456     유럽c미NO6對이: 제재Y피하기 위한T특^z적X인aq<
1466    W국제조%2024q사~졌지T 中 과@기술e6 F3=N3Q
1470      이탈리아^독일~wGn난민구조선~억9 S6규정n등 위반
1477     GE콩고 시련84볼d w& X 내YW민간인 H` N#P
1510        P [* vL에 자M항-사e이란 영4통과5금지종합
1511       미a{+#W[용소 비교 7e 홀로hE트ka념관 A5
1516    2FcoC 탈레반$T부 신임_ f1b상1AK qP- 거부
1525    $(스 노란$조o =차m집회 열` Q위 q모 =2yG ?
1527      프(스1재/ 브렉시트&H재 W랑스 -^에 악영향 없어
1533            美%친북1체 = 2Q0" 전투H15일u종료
1547     터k 2러 이튿날@a대적S3SN<거작전 eS명 체<?,
1582      리그 발전 논의하는 KBO 윈터미팅 29∼30일 개최
1587   에C9르 "진 실종자 1}7q0명 >. 4ur'에 L(종합
1589           유}교 랍'도 "R군<된다lX 성X자C Y무
1619      G란치스코 교황 w|h 인간(D지 04적 이슈 아0야
1630        아프리a 앙o라 동Q# 처벌법 폐지 ]권dykW영
1648           <XWKDw럼0 탄A하면k경제s 도움r될 |

=== 141~160번째 데이터 ===
                                    text
1654         스웨덴 S부 'iL요청8;中f부패Du범 다시8}c
1728         c-성>T 쇼r fFn아마x 알렉사 앱O"/ 인기
1730   트WA 4u시트 uv 英 [<il공정cp합\ 안 되면K(.야
1734      T=치K2 Y%.루마니아 방문 정 회:R.) 함y 기도
1736        W)라엘 네dR  총리 "일j}e 겨냥& 작lGY행
1753     日자민당% 로a헌법h조는+세J유산 _정 바z귀만I51안@
1761     美 ue수4 전+z제재mB날E이2S{발r배1제 소문 흉1
1782   美부통령l보 TV토론서도H북핵 ?= 이슈S l:펜스 불#공방
1795         군부에 굴복 안 해 수단 야권114N?g파업"예
1813      F C& 싱크탱 X노;}s브렉시트4&8 시간$방법!O족
1817  pu:국%j콩 50R만k3j입 하B 50ya4 f사소통  프닝
1843           R48비동맹9의서 호"무즈 QvAy(참0 pA
1851       시x아 내 ^시fB0|Qz 상공서 무인BP3대a격V돼
1864           캐\다 0z인Z[한주i중 생산성 최고는 화요일
1882         #간OCElz로:48명g사C 희생0Zr부분 U린이
1907        -! 방JU;르c안과Kc}|`자 n9NtK`안%논~
1923    OxW美J제$유예 불허에 원유 J목 호르무즈V7 u쇄 경고
1935            _얀마"B;^사=f9 44야u사태 |36거부
1941          러 日과|영토;쟁;IrUZN :T8련 S8t항o
1942     ?·[GO갈등 속 프랑스;핵미사일 발사 훈|{이례%U공@

=== 161~180번째 데이터 ===
                                          text
1950                 V!코Rq3화산 &y=P4재 2천ｍmJ v솟아
1953              염#설 , 기업Ic존l 총리 j란 si r락 차단해
1954  美4선 rD토론F판정) 힐t리`>r층h$Y할까Z초o빙 판세 변Wp1목Ka
1984              AA'g이fPbr사회와 핵·_r미사일}새8 q상해c
1988                 +라'~r리{밟은o밍스~A경4?[전정지 중징계
1991            O이도 PQ코·of과이 U화%n|hZ부 옳은8! 서달k
2023             러jnB들 연루 前,u프캠프 고문Ec원 보궐선5^도R
2027                       美 휴a턴e쇼핑몰서~총격==} ?e
2029             *5x월간 500명5초인종5알고보* 美C#커q 괴|힘
2060          한_ 고기 2㎏으로 성난O민심 :정될까I이란X신속한 유화W
2092                 하`e자6홍콩 4^ 아\[ 경o]리스크i 부D
2095           ( 꽁%잡2 6중조업 /P {p;양u어획b경쟁 .g v망
2109        >,난 )바D서}/N째!}리]U ue명r모여 정권*진 요구종합
2112           中 홍<시위 격화xt무h G입 oAfP국j등 ?I은+`A
2142         터키 화2 우세 vb워 쿠르드 ?|T민간인 피o 커져종합2보
2165                        프랑스 노딜 브렉시0 대>_본u화
2189         빌`클`E E발질 S"마케어2가장2미친h것jq선o점@+상종합
2199          에콰도C t가7상 반대 j업으로 이U째B혼란 %50명 연행
2230                  日ITPP1법안F각}H의Y의z pV국회Cn부
2236               美 항e법원 O린 인터넷 명령 합a`Ay사들n*4

=== 181~200번째 데이터 ===
                                    text
2255   美여성 남편에 sY당첨"W가능 보여주^다 #F억P 덜컥 당첨
2268        UOz감독 스파[크 리 l럼프를 연쇄 살인마r 비유
2286         샤^ T;웨[6?용 파, 리i EX (/ 중 화U
2318     건$사1{호 의Gs캐B다 K뤼I 총리OV지2=야당)@뒤8
2334   CN+G美항3r@파 이란6k>60사일]이동 z4성 4보 #&
2344  파^·테6M%uoX쓰Ya대란.지b유vE0K@ 35 프랑5"비상
2345        삼성증권 1분기 영업이익 1천496억원 17% 감소
2366       中매I6맞불N세K옹호&3국이 f인제공·Z반;; W비m
2372          美 中g위구르`탄압cN공 중국은 종w와 R쟁 중
2373   S란e \시착한y,르웨이 여객l*제재탓 70일만b Bf(귀환
2378       중국의 해외투자 안전도I평가서 Z국 O위→=_위t추락
2384         3중XQ4대사관 3안먼 시a 3K주V에 조기 게양
2390          한아세S 베{%I총7 한 베|남a관계4l상 |망
2405       페루 대\령 정p\d x개 위nwxl(i^·총선d제안
2413      전W;참c 이nd 유j]"m객ie((우려` ?<. 개조
2437      이스라엘v정보당국 ME스+인인 5S@[e러 _의로 1포
2462   ?#|월* J9l월째:경상수지 흑자 Q자폭은J1..8%qAT
2470     5反난WU선)y{비니$ 동맹Pkv의회 U탈리4 5거j압승
2476     푸틴 .리아 철군 계획 "사드x 사전 협의0아사드' R8
2509         캄R(아d?일본6 5명 택시 `O살인 혐의6B!포

=== 201~220번째 데이터 ===
                                           text
2514                주Ia탄o 한국총영사관t한국 애니메이션의 Z 개u
2529              5 신흥시장 상/이 C드H 2색화 ,$에E많F y8점
2531           IS 지중해 |$할 해상N력 꿈꿔 w실화시 운송·3<'비상
2565               美 日관련\유조선}공격범 79 지목z자k_정부 당'
2567             O토N미군 폴란드에 Z참7지cqgZ계^t무기·k약)보관
2570               中지방정M 유엔제7 허9범k서R대북경1 강화 VnA
2582             국제k호단체HrUTs 유엔 테&단체 1정 움직f에k우려
2587          구마모WH?진G고Uo대지S급^진동에도 O망자는W700분#R1
2604                 브_질A언론 {세프 V통. 탄핵rM능성 더 커j
2606                  -일JA(7실업률 4.e% ;일?후 "저-z준
2609          美국무부 北미사x 발/n 도: 자q하:7협{에 전u j구종합
2611  EU 167DI 56w  )0 이용DK마크 k9%g최고$프랑c 42% Qq
2619                알카에( 인도b부2z美·아프; 작전으로 사망AFP
2624            2천q 전 ~길 그대로 5페이 유h서 j V생I벽화 n,
2638                                   w콩 T립 깃발
2647            IMF총x 미S 무}T쟁에 2tR흥국Z충G 위-R염`)려
2651                  Q@체w)%]만법lV통과돼E?실질/ 영향b없s
2658             트럼!S행정 명령 영향OMLB I네수엘라<윈터Y그 r참
2666              |p 특M 예멘 반P·정부d긴급 면담O.전m이, 촉구
2667           정보V관>b난한<o럼d 北0&J 문제 이견없다s언|) 왜:

=== 221~226번째 데이터 ===
                                 text
2673   부%n무8림U라더!t中<f기결혼에`우B X|93 여성P
2692  무~림 입국금지 ?속 트y프 `임 /던시장은 P외종8l보
2697   n탈.냐 [반 스페인의 노란 리rO철거지' 거Lt -O
2731  남중P해  美4中Z군사적 충돌^가능성mR져 %화 틀 필요
2764      美|Tb3{주+대서(K격 8명 부상 1명{중N1보
2787  13이 노바 라이n2·미J어패0 T3 10 결G상품% *

In [21]:
english_label_dfs = classificate_by_label(is_english_df)

Target 0: 29 rows
Target 1: 25 rows
Target 2: 19 rows
Target 3: 22 rows
Target 4: 18 rows
Target 5: 24 rows
Target 6: 24 rows

In [43]:
def is_continuous_english(text):
    """
    주어진 텍스트에 연속된 영어가 연속적으로 포함되어 있는지 확인.
    """
    # 정규표현식: 3글자 이상의 연속된 영어 단어 찾기
    abnormal_pattern = re.compile(r'[a-zA-Z]{2,}')
    
    # 정규식에 매칭되는 영어 단어 찾기
    matches = abnormal_pattern.findall(text)
    
    if matches:
        # 연속적인 영어 단어가 있을 경우 True 반환
        return matches
    return False

is_english_df['continuous'] = is_english_df['text'].apply(is_continuous_english)
no_contigus_english_df = is_english_df[is_english_df['continuous']==False].copy()
no_contigus_english_df[['ID','text', 'target','continuous']]

,ID,text,target,continuous
18,ynat-v1_train_00018,개R전 연w정연H 작가,0,False
38,ynat-v1_train_00038,마틴 우리카드 코치로 V리그 복귀 한국 좋아요,5,False
90,ynat-v1_train_00090,서울문고 N풍그U에 인수 f라인서점 교m영풍y양강d도로,0,False
139,ynat-v1_train_00139,떼었S 붙였다 액세서리Y 스마C폰 업U레이드,4,False
203,ynat-v1_train_00203,j우증권 오리X 중D 성장둔s 목표가↓,5,False
312,ynat-v1_train_00312,朴대통령 한불 비즈니스포럼·K콘 참석 파리서 경제·문화외교,0,False
357,ynat-v1_train_00357,주말 N 여행 강원권 남한강축제서 무더위 날리자 속초는 피서철 이벤트,1,False
601,ynat-v1_train_00601,美 매d g츠버그 강정호와 y별p T,6,False
920,ynat-v1_train_00920,v시H 축출후 수단 군부정권 이끄N 아우w는,6,False
1076,ynat-v1_train_01076,프로축구 비디오판독 올해 K리그 챌린지로 확대할 듯,0,False
1694,ynat-v1_train_01694,주말 N 여행 호남권 산정상 물 들인 철쭉의 막바지 화려한 자태,2,False
1994,ynat-v1_train_01994,미세먼지 싫어N,0,False
2187,ynat-v1_train_02187,주말 N 여행 강원권 쫀득한 찰옥수수 일편단심 무궁화,2,False
2326,ynat-v1_train_02326,주말 N 여행 제주권 탐라 역사·문화 혼 깃든 산지천 축제,2,False
2454,ynat-v1_train_02454,주말 N 여행 충청권 달콤한 포도에 견우·직녀의 사랑까지,6,False
2482,ynat-v1_train_02482,T시판 H성선물 하반기 p율·유가U망 세미나,5,False
2638,ynat-v1_train_02638,w콩 T립 깃발,6,False
2639,ynat-v1_train_02639,셀카부터 앱 실행까지 갤노트 S펜 스마트 기기로 진화,5,False
2675,ynat-v1_train_02675,설 연휴 N 여행 제주권 온 가족 산책하기 아름다운 길 널널,0,False
2781,ynat-v1_train_02781,화합물 몸 안에서 짝F 단백질 m는 법 새로Q개U,4,False

In [40]:
filtered_no_contigus_english_df = no_contigus_english_df[no_contigus_english_df['continuous_set'].apply(lambda x: {'tuK'}.issubset(x))]
print(filtered_no_contigus_english_df)

                       ID                              text  target  length  \
1792  ynat-v1_train_01792  현tuK수 김천웅 한국인h최초로 k스라I E체바무용단 입단       0      32

      ascii_count  is_english_ascii  is_all_uppercase  ascii_ratio  \
1792            7              True             False      0.21875

      uppercase_ratio continuous continuous_set
1792         0.428571      [tuK]          {tuK}

In [39]:
all_words = sum(no_contigus_english_df['continuous'].tolist(), [])

# 3. 중복 제거 (필요한 경우)
unique_words = list(set(all_words))
unique_words

['UEFA',
 'LPG',
 'RCEP',
 'SBS',
 'USTR',
 'tbs',
 'APTLD',
 'BMW',
 'CPU',
 'ISA',
 'SKT',
 'SKB',
 'ELS',
 'CCO',
 'KGC',
 'WTO',
 'MLB',
 'SDI',
 'IBK',
 'MWC',
 'NHK',
 'AFC',
 'ETRI',
 'OECD',
 'tuK',
 'KISA',
 'CEO',
 'KBO',
 'MVP',
 'CSD',
 'MBC',
 'IoT',
 'URL',
 'NBIoT',
 'KEB',
 'KIST',
 'KBS',
 'USC',
 'LGU',
 'AfD',
 'KAIST',
 'EBS',
 'FFP',
 'SNS',
 'EPL',
 'APT',
 'GSMA',
 'UCLA',
 'TPP',
 'UAE',
 'UCC',
 'NEW',
 'ICT',
 'ACM',
 'WON',
 'NBA',
 'RFA',
 'SERICEO']